@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body {
    background: #55ff96;
}

.container {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.contact-box {
    background: #fff;
    display: flex;
}

.contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
    border-right: 3px solid rgb(88, 88, 88);
}
.contact-right {
    flex-basis: 40%;
    padding: 40px;
    background: #fff;
    color: #fff;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}
.container p {
    margin-top: 10px;
    margin-bottom: 40px;
    color: #fff;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group {
    flex-basis: 45%;

}
input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #4b4b4b;
    background: none;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border: none;
    border-top: 1px solid #4b4b4b;
    border-bottom: 1px solid #4b4b4b;
    border-radius: 1px;
    background: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label {
    margin-bottom: 6px;
    display: block;
    color: #000000;
}

button {
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    transition: 0.50s;
}
button:hover {
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    transition: 0.35s;
}

.contact-left h3 {
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.input-group span::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #2cee7d;
}