@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #161616;
	display: flex;
	height: 100vh;
	transition: background 0.2s linear;
}

/*table styling*/
.table-container {
    padding: 0 10%;
    margin: 196px auto 0;
	margin-left: 230px;
}

.heading {
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
}

.table {
	margin-left: -200px;
    width: 200%;
    border-collapse: collapse;
}
.table thead tr th {
    font-size: 14px;
	font-weight: medium;
	letter-spacing: 1px;
	color: #ffffff;
	opacity: 1;
	padding: 12px;
	vertical-align: top;
}
.table tbody tr td {
	font-size: 14px;
	font-weight: normal;
	letter-spacing: 1px;
	color: #fafafa;
	padding: 8px;
	text-align: center;
}

.btn {
	color: #48f791;
	text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
	color: #2fd875;
	transition: 0.3s;
}

.di {
	margin: 5px;
	margin-bottom: -2px;
    overflow: hidden;
	color: #fff;
}

.dlico {
	text-decoration: none;
	margin: 5px;
	background: #ffffff;
	color: #464646;
	padding: 5px 5px;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s;
}

.dlico:hover {
	transition: 0.3s;
	color: #161616;
}

.exitico {
	text-decoration: none;
	margin: 5px;
	background: #ffffff;
	color: #464646;
	padding: 5px 5px;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s;
}

.exitico:hover {
	transition: 0.3s;
	color: #161616;
}