@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
	cursor: url(./img/cursor.png), pointer;
}

::-webkit-scrollbar {
	width: 9px;
	background-color: #161616;
}
  
::-webkit-scrollbar-thumb {
	cursor: pointer;
	background: linear-gradient(120deg, #3498db, #2980b9, #9b59b6);
	border-radius: 0px;
}
  
::-webkit-scrollbar-button {
	width: 90px;
	background: linear-gradient(120deg, #e74c3c, #ED4245);
}

body {
	height: 100vh;
	letter-spacing: 1px;
}

.abcon::selection{
	background-color: #4cd137;
	color: #fff;
}

a {
	color: #168ae9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.hcontainer {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(34, 34, 34, 0.7),rgba(34, 34, 34, 0.7)),url(./img/backhome.jpg) no-repeat left top;
	background-position: left top;
	background-size: cover;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}

.navbar {
	height: 12%;
	display: flex;
	align-items: center;
}

.icon {
	width: 100px;
	margin-top: 27px;
	margin-left: -100px;
	cursor: pointer;
	transition: transform 0.5s;
}

.icon:hover {
	transform: translateY(-5px);
}

nav {
	flex: 1;
	text-align: right;
	letter-spacing: 0.35px;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
}

.dico {
	width: 130px;
	margin-right: -25px;
	transition: transform 0.5s;
}

.cico {
	width: 130px;
	margin-right: -25px;
	transition: transform 0.5s;
}

.nico {
	width: 152px;
	margin-right: -25px;
	transition: transform 0.5s;
}

.dico:hover {
	transform: translateY(-10px);
}
.cico:hover {
	transform: translateY(-10px);
}
.nico:hover {
	transform: translateY(-10px);
}

.row {
	display: flex;
	height: 88%;
	align-items: center;
}
.col {
	flex-basis: 50%;
}
h1 {
	color: #fff;
	font-size: 100px;
}
p {
	color: #fff;
	font-size: 11px;
	line-height: 15px;
}

.dbutton {
	width: 180px;
	color: #000000;
	font-size: 16px;
	padding: 12px 0;
	background: white;
	border: none;
	border-radius: 50px;
	font-weight: 600;
	letter-spacing: 1px;
	outline: none;
	margin-top: 30px;
	cursor: pointer;
	transition: transform 0.5s;
}
.dbutton:hover  {
	border: 2px solid #33ff00;
	transform: translateY(-5px);
}

.card {
	width: 200px;
	height: 230px;
	display: inline-block;
	border-radius: 20px;
	padding: 15px 12px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 10px 15px;
	transition: transform 0.5s;
}

.card1 {
	background-image: url(./img/img\ card\ V1.png);
}
.card2 {
	background-image: url(./img/img\ card\ V2.png);
}
.card3 {
	background-image: url(./img/Coming\ very\ soon.png);
}
.card4 {
	background-image: url(./img/coming\ soon....png);
}

.card:hover {
	transform: translateY(-10px);
}
.forge {
	position: fixed;
	z-index: 999;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: transform 0.5s;
}
.forge:hover {
	transform: translateY(-10px);
}
.disco {
	position: fixed;
	z-index: 999;
	bottom: 70px;
	right: 10px;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: transform 0.5s;
}
.disco:hover {
	transform: translateY(-10px);
}
.insco {
	position: fixed;
	z-index: 999;
	bottom: 129.5px;
	right: 10px;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: transform 0.5s;
}
.insco:hover {
	transform: translateY(-10px);
}

.micon {
	color: #fff;
}

/*About Styling*/
.acontainer {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(34, 34, 34, 0.7),rgba(34, 34, 34, 0.7)),url(./img/backabout.jpg) no-repeat;
    background-size: cover;
}

.rowa {
	display: flex;
	height: 88%;
	align-items: center;
}

.cola {
	flex-basis: 50%;
}

.atitle {
	width: 10px;
	margin-top: -120px;
	margin-left: 3%;
	color: #fff;
	font-size: 100px;
}

.aco {
	color: #3498db;
}
.thco {
	color: #ecf0f1;
}
.paco {
	color: #e74c3c;
}

.aparagraph {
	position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-30%, -50%);
	width: 545px;
	/*margin-left: 500px;*/
	word-spacing: 1px;
	color: #fff;
	font-size: 20px;
	font-family: 'Outfit', sans-serif;
	line-height: 25px;
}

.impco {
	color: #FFC312;
}
.deco {
	color: #4cd137;
}
.de2co {
	color: #FDA7DF;
}
.yco {
	color: rgb(0, 238, 255);
}
.fco {
	color: #ff009d;
}
.tco {
	color: rgb(153, 4, 223);
}
.rsco {
	color: #63e916;
}
.msco {
	color: #aeaeff;
}

.fcontainer {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(34, 34, 34, 0.7),rgba(34, 34, 34, 0.7)),url(./img/backfeed.jpg) no-repeat;
    background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
.feedbackbox {
	background: #fff;
	padding: 50px 100px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.emoji {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 30px;
	overflow: hidden;
}
.emoji img {
	width: 80px;
	margin: 0 10px;
}
#emoji {
	display: flex;
	align-items: center;
	transform: translateX(-400px);
	transition: 0.3s;
}

.rating .fas {
	font-size: 40px;
	color: #e4e4e4;
	cursor: pointer;
}
